li {
    padding: 0px;
    margin: 0px;
    list-style: none;
    color: blue;
    font-size: 75px;
    font-weight: bolder;
  }

  ul {
      list-style: none;
  }

  body {
      background-image: url(./image/cheeseburgerfriesE.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      /* background-color: #EE9A49; */
      text-align: center;
  }

  .devour-burger {
      margin-left: 15px;
  }

  .delete-burger {
      margin-left: 15px;
  }

  h1 {
      font-weight: bold;
      font-size: 100px;
      color: black;
  }

  #tomato {
      color: #DC143C;
      font-size: 50px;
      font-weight: bold;
  }

  #lettuce {
      color: green;
      font-size: 50px;
      font-weight: bold;
  }

  label {
      font-weight: bold;
      color: blue;
  }